<!DOCTYPE html>
<html ng-app="gemStore">

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="gem-store.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>    
</head>

  <body ng-controller="StoreController as store" style="max-width:500px; margin:0px auto;">

      
   <!--  Store Header  -->
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">- an Angular store -</h2>
    </header>      

    <!--  Products Container  -->
    <div class="list-group">
        
      <!--  Product Container  -->
      <div class="list-group-item" ng-repeat="product in store.products" ng-init="tab =1">
       
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
       </h3>
 

        <!-- Image Gallery  -->
        <div class='gallery' ng-show="product.images.length > 0" ng-controller="GalleryController as gallery">
       
            <img class="img img-circle center-block" ng-src="{{ product.images[gallery.current] }}" />
         
            <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
                <a href ng-click="gallery.setCurrent(product.images.indexOf(image))">
              <img ng-src="{{ image }}" style="height:50px;" />
                </a>
            </li>
          </ul>
            
        </div>
          
          
        <!-- Product Tabs -->
        <product-tabs></product-tabs>
        
       </div> <!-- End product container -->
     </div> <!-- End products container -->
      
   </body>
</html>



























